<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div id="logon" style="width: 960px; height: 800px;"></div>
  <script>


//JSON Input
  /*
  var xmlhttp = new XMLHttpRequest();
  var url = "URL";

  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        generateData(myArr);
    }
  };
  
  xmlhttp.open("GET", url, true); 
  xmlhttp.send();
  */

  //Sample JSON input
  var sampleJSON = [
{
"id": "{F3X8-Y2GT43DR-4906OHBL}",
"date": "01/02/2010 02:19:18",
"user": "DNS1758",
"pc": "PC-0414",
"activity": "Logon"
},
{
"id": "{B4Q0-D0GM24KN-3704MAII}",
"date": "01/03/2010 02:31:12",
"user": "DNS1758",
"pc": "PC-0414",
"activity": "Logoff"
},
{
"id": "{T7J1-D4HK34KV-5476TCIJ}",
"date": "01/04/2010 02:34:02",
"user": "DNS1758",
"pc": "PC-5313",
"activity": "Logon"
}
];

  generateData(sampleJSON);

  function formatDate(d) {
    //assume MM/DD/YYYY HH:MM:SS
    var date = new Date(d);

    return date.getFullYear() + "-" 
    + ("0" + (date.getMonth() + 1)).slice(-2) + "-"
    + ("0" + date.getDate()).slice(-2);
  }

  function generateData(arr) {
    var logon_x = [];
    var logon_y = [];

    var logoff_x = [];
    var logoff_y = [];

    var i;
    for(i = 0; i < arr.length; i++) {
        if(arr[i].activity == "Logon") {
          logon_x.push(formatDate(arr[i].date));
          logon_y.push(arr[i].user);
        }else {
          //assume Logoff
          logoff_x.push(formatDate(arr[i].date));
          logoff_y.push(arr[i].user);
        }
    }

  var trace1 = 
    {
      x: logon_x,
      y: logon_y,
      name: 'Logon', 
      mode: 'markers', 
      marker: { color: 'rgb(0, 255, 0)' },
      type: 'scatter'
    };

  var trace2 = 
    {
      x: logoff_x,
      y: logoff_y,
      name: 'Logoff',
      mode: 'markers', 
      marker: { color: 'rgb(255, 0, 0)' },
      type: 'scatter'
    };

  var layout = {
    title: "Activity chart"
  };

  var data = [trace1,trace2];


  Plotly.newPlot('logon', data, layout, {displayModeBar: false});

    
  }



//Manual Input
/*
var trace1 = 
  {
    x: ['2013-10-04 22:23:00', '2013-11-04 22:23:00', '2013-12-04 22:23:00'],
    y: ['DNS1758', 'ANC1950', 'DNS1758'],
    name: 'Logon', mode: 'markers', marker: { color: 'rgb(0, 255, 0)' },
    type: 'scatter'
  };

var trace2 = 
  {
    x: ['2013-11-04 22:23:30', '2013-12-04 22:23:30', '2013-13-04 22:23:30'],
    y: ['DNS1758', 'ANC1950', 'DNS1758'],
    name: 'Logoff', mode: 'markers', marker: { color: 'rgb(255, 0, 0)' },
    type: 'scatter'
  };

var layout = {
  title: "Activity chart"
};

var data = [trace1,trace2];


Plotly.newPlot('logon', data, layout, {displayModeBar: false});
*/
  </script>
</body>