<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webapps</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Main angular app -->
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/auth/auth.js"></script>

    <!-- Services -->
    <script src="/javascripts/services/postservice.js"></script>
    <script src="/javascripts/services/pwneddataservice.js"></script>

    <!--Controllers-->
    <script src="/javascripts/controllers/mainctrl.js"></script>
    <script src="/javascripts/controllers/postctrl.js"></script>
    <script src="/javascripts/controllers/navctrl.js"></script>
    <script src="/javascripts/controllers/profilectrl.js"></script>

    <!-- Graph controllers -->
    <script src="/javascripts/controllers/graphctrl.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>
</head>
<body ng-app="webapps">

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/home">WebApps</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/#/home">Home</a></li>
            <li><a href="/#/pwneddata">Pwned Data</a></li>
            <li><a href="/#/testgraph">Test graph</a></li>
        </ul>

        <!-- Logout button should take the user to the home screen -->

        <ul class="nav navbar-nav navbar-right" ng-controller="NavCtrl">
            <li ng-show="isLoggedIn()"><a href="#/users/{{currentUser()}}">{{currentUser()}}</a></li>
            <li ng-show="isLoggedIn()"><a href="/#/home" ng-click="logOut()">Log out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Sign in</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Allows for multiple named views -->
        <div class="col-md-6 col-md-offset-3" ui-view="main"></div>
    </div>
</div>

</body>
</html>
