<div full-page options="main.mainOptions" class="col-md-8 col-md-offset-2">
    <div class="section">
        <div class="page-header text-center">
            <h1>Employee behaviour dashboard</h1>
            <h3 class="text-muted">Understanding organisational behaviour</h3>
            <blockquote>
                <p>You can't hold firewalls and intrusion detection systems accountable. You can only hold people
                    accountable.</p>
                <small>Darryl White</small>
            </blockquote>
        </div>


        <div>
            <p class="text-justify">Human behaviour in the context of work can vary depending on the person’s character,
                age, background and many more. Can the same be said about the field that a
                person works in? Do software engineers of a company interact differently than marketing
                employees of the same company? <b>Employee Behaviour Dashboard</b> answers
                these questions by visualising this phenomenon.</p>
        </div>

        <br/> <br/>

        <div class="panel panel-success">
            <div class="panel-heading">
                <!--<h1 class="panel-title"><b>Application overview</b></h1>-->
                <h4><b>Application overview</b></h4>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    An <b>interactive, visual and multi-user</b> application that allows users to <b>interact and
                        drill</b> into visualisations of employee behaviour in order to see and understand patterns in
                    it.
                </p>
                <p class="text-justify">
                    The user is able to go through different departments of an organisation and interact with node
                    graphs showing how the employees in this department interact. The user is then able to compare human
                    behaviour in different departments and draw useful conclusions.
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="page-header text-center">
            <h1>Why behaviour analysis?</h1>
            <h3 class="text-muted">Our target groups</h3>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><b>Security professionals</b></h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">
                            In the past few years, there have been more than 10 000 data breaches with close to 10
                            billion records being exposed on the dark web.
                        </p>

                        <p class="text-justify">
                            <b>Employee Behaviour Dashboard</b> will be a useful tool for <b>security professionals</b>
                            to learn about patterns in employee behaviour, compare them with the patterns in their own
                            company, <b>detect potential malicious activity</b> and prevent security breaches.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>HR managers</b></h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">
                            By analysing employee behaviour through our visualisations, <b>HR managers</b> will be able
                            to have a better understanding of interactions between the employees of different
                            departments.
                        </p>

                        <p class="text-justify">
                            We anticipate that they will <b>return to check and recheck</b> patterns of behaviour in
                            order to compare them with that of departments in their own company and draw relevant
                            conclusions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="page-header text-center">
            <h1>Ethical concerns</h1>
            <h3 class="text-muted">Dispelling misconceptions</h3>
        </div>

        <table class="table table-hover table-striped table-bordered table-responsive">
            <thead>
            <th class="danger"><h4><b>Myths</b></h4></th>
            <th class="success"><h4><b>Truths</b></h4></th>
            </thead>
            <tbody>
            <tr>
                <td><p class="text-justify">Additional data is being collected for analysis purposes.</p></td>
                <td><p class="text-justify">We only use data that is already collected by companies. Some companies
                        (e.g. banks) are required to collect such data for compliance purposes.</p>
                </td>
            </tr>

            <tr>
                <td><p class="text-justify">Personal data is being collected.</p></td>
                <td><p class="text-justify">We use company data, which is owned by the company. Furthermore, the current
                        data set is <b>synthetic data</b>.</p>
                </td>
            </tr>

            <tr>
                <td><p class="text-justify">This is an invasion of privacy.</p></td>
                <td><p class="text-justify">The expectations of privacy in the office differ from the expectations of
                        privacy at home.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div ng-repeat="post in posts | orderBy:'-upvotes'">-->
<!--<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>-->
<!--{{post.upvotes}}-->

<!--&lt;!&ndash; ng-hide hides elements when angular expression evaluates to true &ndash;&gt;-->
<!--<span style="font-size:20px; margin-left:10px;">-->
<!--<a ng-show="post.link" href="{{post.link}}">-->
<!--{{post.title}}-->
<!--</a>-->

<!--<span ng-hide="post.link">-->
<!--{{post.title}}-->
<!--</span>-->

<!--<span ng-show="post.author">-->
<!--posted by <a href="#/users/{{post.author}}">{{post.author}}</a>-->
<!--</span>-->

<!--<span>-->
<!--&lt;!&ndash; When iterating over an array (posts), ng-repeat makes $index variable available along with each-->
<!--item in the array &ndash;&gt;-->
<!--<a href="#/posts/{{post._id}}">Comments</a>-->
<!--</span>-->
<!--</span>-->
<!--</div>-->

<!--<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">-->
<!--<h3>Add a new post</h3>-->

<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Title" ng-model="title">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Link" ng-model="link">-->
<!--</div>-->

<!--<button type="submit" class="btn btn-primary">Post</button>-->
<!--</form>-->

<!--<div ng-hide="isLoggedIn()">-->
<!--<h3>Need to login or register before adding a post</h3>-->
<!--</div>-->
