<head><link href="../stylesheets/signin.css" rel="stylesheet"></head>

<div ng-show="error" class="alert alert-danger row">
    <span>{{error.message}}</span>
</div>

<form class="form-signin" ng-submit="logIn()">
    <h2 class="form-signin-heading">Please sign in.</h2>

    <label for="username" class="sr-only">Username</label>
        <input type="text"
               class="form-control"
               placeholder="Username"
               ng-model="user.username">
    </label>
    
    <label for="password" class="sr-only">Password</label>
        <input type="password"
               class="form-control"
               placeholder="Password"
               ng-model="user.password">
    </label>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>
