<div class="container-fluid col-md-8 col-md-offset-2">
    <div class="page-header">
        <h3>
            {{post.title}}

            <div id="nodeGraph" class="leftGraph"></div>
            <div id="compareNodeGraph" class="rightGraph"></div>

            <hr />

            <a href='#/view'>Go back</a>
        </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by <a href="#/users/{{comment.author}}">{{comment.author}}</a>

    <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
    </span>
    </div>

    <hr />

    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Comment"
                   ng-model="body">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <div ng-hide="isLoggedIn()">
        <h5>Please kindly login before adding a comment</h5>
    </div>
</div>