<br/>
<div class="container-fluid col-md-8 col-md-offset-2">
    <h2>Discussions</h2>
    <hr/>
    <div ng-repeat="post in posts | orderBy:'-time'">
        <!-- ng-hide hides elements when angular expression evaluates to true -->
        <h4>
            <div class="row">
                <div class="col-md-6">
                    <span>
                    <!-- When iterating over an array (posts), ng-repeat makes $index variable available along with each
                    item in the array -->
                    <a href="#/posts/{{post._id}}">{{post.title}}</a>
                    </span>
                </div>

                <div class="col-md-6 text-right">
                    <span class="text-info">{{post.author}}</a></span>
                    <span class="text-muted small">{{post.time | date:"dd-MM-yyyy:H-mm-ss"}}</span>
                </div>
            </div>
        </h4>
    </div>

    <!--<form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px">-->
    <!--<h3>Add a new post</h3>-->

    <!--<div class="form-group">-->
    <!--<input type="text" class="form-control" placeholder="Title" ng-model="title">-->
    <!--</div>-->

    <!--&lt;!&ndash; Add list of departments / roles / start date / end date &ndash;&gt;-->

    <!--<button type="submit" class="btn btn-primary">Post</button>-->
    <!--</form>-->

    <!--<div ng-hide="isLoggedIn()">-->
    <!--<h3>Need to login or register before adding a post</h3>-->
    <!--</div>-->

</div>