path.link {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

circle {
  fill: #00ff00;
  stroke: #666;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

#nodeGraph, #compareNodeGraph {
  width: 500px;
  height: 500px;
}

#searchBar {
  width: 300px;
}

.leftGraph {
  float: left;
}

.rightGraph {
  margin-left: 625px;
}

#graphLayout {
  margin-left: -25%;
  position: relative;
}