<div full-page>
    <div class="section">
        <div id="chrono-timeline" style="width: 960px; height: 800px;"></div>
    </div>

    <div class="section">
        <div id="chrono-display-1"></div>
    </div>
</div>