<head>
    <link href="../stylesheets/graphdatepick.css" rel="stylesheet">
</head>

<div class="container-fluid" id="sizeref">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Behaviour Analysis - Role</h3>

        <p class="text-center text-justify">In this section, we hope to show how employee behaviour (based on their
            emails),
            differs between roles. Select two different roles to compare their behaviour. The closer the distance among the nodes, the more they communicate among one another. </p>


        <p class="text-center text-justify">Move the mouse to pan the graph and use the scroll wheel for zooming.</p>

        <br/>

    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <ui-select ng-model="role.selected" id="searchBar" class="leftGraph" on-select="reloadGraph()"
                       theme="bootstrap"
                       reset-search-input="false">
                <ui-select-match placeholder="Select role...">{{role.selected}}</ui-select-match>
                <ui-select-choices refresh="funcAsync($select.search)" position='down' refresh-delay="0"
                                   repeat="role in availableRole | filter:$select.search">
                    {{role}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <ui-select ng-model="compareRole.selected" id="searchBar" class="rightGraph" class="compareSearchBar"
                       on-select="reloadCompareGraph()" theme="bootstrap" reset-search-input="false">
                <ui-select-match placeholder="Select role...">{{compareRole.selected}}</ui-select-match>
                <ui-select-choices refresh="funcAsync($select.search)" position='down' refresh-delay="0"
                                   repeat="role in availableRole | filter:$select.search">
                    {{role}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <div class="col-md-6">
            <div id="nodeGraph" class="leftGraph"></div>
            <div class="centerBlock">
                <div ng-cloak="" class="graphdatepicker">
                <md-content>
                    <h4 ng-hide='leftGraphDisplay'>From:</h4>
                    <md-datepicker ng-model="leftGraphDateFrom" md-placeholder="Date" md-min-date="leftGraphMinDate"
                                   md-max-date="leftGraphMaxDate" ng-hide='leftGraphDisplay'
                                   ng-change='filterLeftGraphByDate()'></md-datepicker>
                    <br/>
                    <h4 ng-hide='leftGraphDisplay'>To:</h4>
                    <md-datepicker ng-model="leftGraphDateTo" md-placeholder="Date" md-min-date="leftGraphMinDate"
                                   md-max-date="leftGraphMaxDate" ng-hide='leftGraphDisplay'
                                   ng-change='filterLeftGraphByDate()'></md-datepicker>
                </md-content>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="compareNodeGraph" class="rightGraph"></div>
            <div class="centerBlock">
                <div ng-cloak="" class="graphdatepicker">
                <md-content>
                    <h4 ng-hide='rightGraphDisplay'>From:</h4>
                    <md-datepicker ng-model="rightGraphDateFrom" md-placeholder="Date" md-min-date="rightGraphMinDate"
                                   md-max-date="rightGraphMaxDate" ng-hide='rightGraphDisplay'
                                   ng-change='filterRightGraphByDate()'></md-datepicker>
                    <br/>
                    <h4 ng-hide='rightGraphDisplay'>To:</h4>
                    <md-datepicker ng-model="rightGraphDateTo" md-placeholder="Date" md-min-date="rightGraphMinDate"
                                   md-max-date="rightGraphMaxDate" ng-hide='rightGraphDisplay'
                                   ng-change='filterRightGraphByDate()'></md-datepicker>
                </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
